@import (reference) '../../../less/variables.less';

.home {
    .stories {
      img.attachment-medium {
        max-width: 45%;
      }
    }
    .sub-stories {
      img.attachment-thumbnail {
        max-width: 45%;
      }
    }
    #homepage-featured {
      border-top: none;
      border-right: none;
      border-left: none;
      border-bottom: 2px solid @orange;
      .story {
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: 2px solid @orange;
      }
      .sub-stories {
        .story {
          border: none;
        }
      }
    }
}

#homepage-after-featured,
#homepage-sidebar {
    @media (max-width: 999px) {
        width: 100%;
    }
}
#homepage-sidebar {
    border-left: 1px solid @gray_light;
    margin-top: 1.5%;
    padding: 0 1.5%;
    @media (max-width: 999px) {
        border-left: 0;
        margin: 0;
        padding: 0;
    }
}
#homepage-after-featured {
    margin-top: @baseline;
    .widget {
        width: 42.5%;
        padding: 2.5%;
        &.odd {
            float: left;
            clear: both;
            margin-left: 0;
        }
        &.even {
            float: right;
            clear: none;
        }
        li {
            h5 {
                margin-bottom: 0.5em;
            }
        }
    }
    .widgettitle {
        font-size: 15px;
    }
    .homepage-middle-4x4 {
        display: flex;
        aside {
            flex-grow: 1;
            flex-basis: 0;
            width: auto;
            padding-top: 0;
            &.odd {
                border-right: 1px solid @gray_light;
            }
            ul {
                li {
                    padding-bottom: 20px;
                    &:not(:first-of-type) {
                        h5 {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
    .homepage-middle-1x3 {
        display: flex;
        aside {
            flex-grow: 1;
            flex-basis: 0;
            width: auto;
            padding: 0;
            h3 {
                border-bottom: 1px solid @gray_light;
            }
            ul {
                padding: 4.5%;
                margin-top: 0;
            }
            &.odd {
                ul {
                    border-right: 1px solid @gray_light;
                }
            }
            &.even {
                ul {
                    li {
                        padding-bottom: 20px;
                        a:first-of-type {
                            padding-right: 10px;
                        }
                        h5 {
                            font-size: 14px;
                            a {
                                width: 65%!important;
                            }
                        }
                    }
                }
            }
        }
    }
    .homepage-middle-1x1x1 {
        display: inline-flex;
        aside {
            flex-grow: 1;
            flex-basis: 0;
            h3 {
                border-bottom: 1px solid @gray_light;
                margin-bottom: 20px;
            }
            ul {
                li {
                    img {
                        height: 140px;
                    }
                }
            }
            @media (max-width: 768px) {
                display: block;
                ul {
                    li {
                        img {
                            height: auto;
                        }
                    }
                }
            }
        }
    }
    .homepage-middle-bottom {
        .widget {
            width: 100%;
            &.even {
                float: left;
                @media (max-width: 999px) {
                    padding-left: 0;
                }
            }
            &.odd {
                @media (max-width: 999px) {
                    padding-left: 0;
                }
            }
            h3 {
                border-bottom: 1px solid @gray_light;
                margin-bottom: 20px;
            }
            ul {
                display: flex;
                flex-direction: row;
                li {
                    flex-grow: 1;
                    flex-basis: 0;
                    margin: 0 15px;
                    img {
                        height: 160px;
                    }
                }
                @media (max-width: 768px) {
                    display: block;
                    li {
                        margin: 0;
                        img {
                            height: auto;
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 768px) {
        .homepage-middle-4x4,
        .homepage-middle-1x3,
        .homepage-middle-1x1x1 {
            display: block;
            aside {
                ul {
                    border-right: none!important;
                    border-left: none;
                    padding: inherit!important;
                }
            }
        }
        .widget.odd,
        .widget.even {
            width: 100%;
            clear: both;
            float: none;
            padding-left: 0;
            padding-right: 0;
            border-right: none!important;
            border-left: none!important;
            ul {
                li {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}