.byline {
  .author {
    p {
      font-weight: normal;
      margin-top: 10px;
    }
  }
  @media (max-width: 768px) {
    img, 
    .avatar {
      width: auto;
      display: inline-block;
    }
  }
}