.widgettitle {
    font-family: @body;
    font-weight: bold;
}

.largo-author {
    .author-box {
        .photo {
            float: left;
            margin-right: 10px;
        }
    }
}

.borderzine-6-col-widget {
    .widgettitle {
        display: inline-block;
    }
    p.morelink {
        margin-left: 10px;
        a {
            color: @white;
        }
    }
    ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        li {
            max-width: 175px;
            img {
                width: 100%;
                height: 150px;
            }
        }
    }
}